/* For all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Build-in tags ****/
a { /* Hyperlinks will have inherited color and no decoration */
    color: inherit; 
    text-decoration: none;
} 

input[type=text], input[type=password] { /* Full-width inputs */
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
  }

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
button { /* Set a style for all buttons */
    padding: 14px 20px;

    color: white;
    border: none;
    cursor: pointer;
  }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

/**** ---ID--- ****/
/* ------- Main page & registration page ------- */
#main_page_header { /* Header */
    height: 100px;
    width: 100%;
}

/* Logo */
#main_page_logo {
    height: 100%;    
        
    float: left;
    padding: 0px 50px;  
}

#main_page_logo_picture {
    margin-top: 5px;
    width: 90px;
}

#main_page_logo_name {
    height: 100px;
    line-height: 100px;
    float: right;

    font-size: xx-large;
}
/***********************/

/* Login */
#main_page_login_form { /* Login form */
    line-height: 100px;

    float: right; 
    margin-right: 30px;   
}

#main_page_signup { /* Sign up */
    height: 45px;   
    line-height: 45px; 
    
    margin-top: 28px;
    margin-right: 50px;
        
    float: right;
    padding: 0px 20px;  
}
/***********************/

#main_page_background { /* Main page background */
    height: 100%;
    width: 100%;    
    
    background-image: url('pictures/main_page_background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;

    font-family: 'Courier New', Courier, monospace;
    
    position: relative;    /* Can adjust top,left,right,bottom  - mayb fixed? */
}

#main_page_visitor {
    padding: 5px;

    text-shadow: none;
    border: 2px solid white;    
}

/* Registration */
#registration_form {
    height: 100%;
    width: 50%;

    margin-left: 25%;
    padding: 20px;

    background-color: white;
}

#register_button {
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
/***********************/

/* ------- Home page ------- */

header {
    height: 100px;
    width: 100%;

    float: left;
    padding: 0;
    margin: 0;
}

article {
    height: auto;
    width: 100%;

    float: left;
    background-color: khaki;
    padding: 10px;
    box-sizing: border-box;
}

/* Profile */
#profile_container_image {
    height: 100%;
    width: 10%;

    float: left;
}

#profile_picture_center {
    height: 90%;

    margin-top: 3%;
    margin-left: 25%;
}

#profile_container_description {
    height: 100%;
    width: 20%;

    float: left;
    padding: 25px 0px;
}
/***********************/

/* Search */
#search_bar_box {
    height: 100%;
    width: 40%;

    float: left;
    padding-top: 30px;
    padding-left: 10%;
}

#search_bar_form {
    float: left;
}

#search_bar_input {
    float: left;
}

#search_bar_icon {
    max-height: 40px;

    float: left;
    margin-left: 5px;
}
/***********************/

/* Logo */
#home_page_logo {
    height: 100%;
    width: 30%;    
        
    float: right;
    padding: 0px 50px;  
}

#home_page_logo_picture {
    width: 80px;

    margin-top: 10px;
    float: right;
}

#home_page_logo_name {
    height: 100px;
    line-height: 100px;

    float: right;
    font-size: xx-large;
}
/***********************/

/* Left panel*/
#left_panel {
    height: auto;
    width: 30%;

    float: left;
}

/* Create new group */
#create_new_group {
    height: 50px;
    width: 100%;

    float: left;
    padding: 5px;
    font-weight: bold;
}

#create_new_group:hover {
    background-color: grey;
}

#new_group_title { 
    width: 90%;

    float:left;
    margin-top: 10px;

    font-size: large;
    text-align: center;
}

#add_icon_group {
    width: 10%;

    float: right;
}
/***********************/

/* Group */
#group_container {
    height: 100px;
    width: 100%;

    float: left;
    margin-top: 10px;
}

.left_panel_group_picture_container {
    height: 100%;
    width: 20%;

    float: left;
    padding: 5px;
}
.left_panel_group_picture {
    height: 100%;
    width: 100%;

    float: left;
}

.left_panel_group_text {
    height: 100%;
    width: 70%;

    float: left;
    padding: 5px;
}

.left_panel_group {
    height: 100%;
    width: 90%;

    float: left;
}

.left_panel_group:hover {
    background-color: grey;
}

.left_panel_group_title {
    height: 50%;
    width: 100%;

    padding: 10px 0px;

    display: inline-block;
    text-align: center;
}

.left_panel_group_desrciption {
    height: 50%;
    width: 100%;

    padding: 10px 0px;

    display: inline-block;
    text-align: center;
}
.left_panel_arrow_container {
    height: 100%;
    width: 10%;

    float: left;
    padding: 5px;

    display: inline;
}

.left_panel_arrow_container:hover {
    background-color: grey;
}

.left_panel_menu_arrow {
    width: 100%;

    float: left;
    margin-top: 35px;
}

/***********************/

/* Right panel */
.right_panel {
    height: auto;
    width: 69%;

    float: left;
    margin-left: 1%;
}

/* Creating new group */
.creating_new_group {
    height: auto;
    width: 100%;

    float: right;
    padding: 5px;

    background-color: red;
}
/***********************/

/* Creatin new thread */
.creating_new_thread {
    height: auto;
    width: 100%;

    float: right;
    padding: 5px;

    background-color: brown;
}
/***********************/

/* Group threads */
.group_threads {
    height: auto;
    width: 100%;

    float: right;
}

/* Create new thread */
.create_new_thread {
    height: 50px;
    width: 100%;

    float: left;
    padding: 5px;
    font-weight: bold;
}

.create_new_thread:hover {
    background-color: grey;
}

.new_thread_title {
    width: 90%;

    float:left;
    margin-top: 10px;

    font-size: large;
    text-align: center;
}

.add_icon_thread {
    width: 50px;

    float: right;
}
/***********************/

/* Thread */
.thread {
    height: 100px;
    width: 100%;

    float: left;
    text-align: center;
}

.thread:hover {
    background-color: grey;
}



/*** ---Hover--- ***/
#main_page_visitor:hover { /* On hover - Continue as a visitor */
    color: rgba(0, 0, 0, 1);  
    border: 2px solid transparent;
    background-color: white;      
}
/***********************/

/**** ---Classes--- ****/
/* Text */
.text_shadow_white {
    text-shadow: white 1px 1px 3px;
}

.text_size_xxl {
    font-size: xx-large;
}

.text_center {
    text-align: center;
}

.text_underline {
    text-decoration: underline;
}

.text_white {
    color: white;
  }
.text_orange {
    color: #f75f00c5;
  }
/***********************/

/* Background */
.background_color_dark {
    background-color: #1f1e1c;
}
.background_color_light {
    background: #f1f1f1;
}
.background_color_green {
    background-color: #4CAF50;
}
.background_color_orange {
    background-color: #f75f00c5;
}
.background_color_dark_grey {
    background-color: #272121;
}
.background_color_grey {
    background-color: #363333;
}
.background_color_light_grey {
    background-color: #f6e9e9;
}
/***********************/

.input_box {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
  }

.scroll_box {
    overflow: auto;
}

.center {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.box_shadow{
      height: 100px;
      box-shadow: 0px 3px 2px black;
  }

.border_1px_solid_black {
    border: 1px solid black;
}

/* Responsive - adjusting with smaller screens */
/* Max-width 1100px */
@media screen and (max-width: 1150px) {
    /* Home page */
    #search_bar_icon {
        display: none;
    }
    #home_page_logo_name {
        display: none;
    }
    #search_bar_box {
        padding-left: 5%;
    }
    #profile_picture_center {
        margin-left: 10px;
    }
    #home_page_logo {
        padding-left: 0 20px;
    }
    #profile_container_description {
    }
    h2 {
        font-size: large;
    }
}

 /* max-width 800px */
@media screen and (max-width: 800px) {
    /* Main page and registration page */
    #main_page_header {
        height: 200px;
    }
    #main_page_background {
        font-size: large;
    }
    #main_page_login_form, #main_page_signup, .main_page_resize {
        float: left;
        height: 50px;
        line-height: 50px;
        width: 100%;       
        
        text-align: center; 

        margin:-1px 0 0 -1px;   /* No border collapse */
        padding: 0px;
        display: block;
    }
    #main_page_logo {
        display: none;
    }
    #registration_form {
        margin: 0;
        width: 100%;
        background-image: url('pictures/main_page_background.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
    }
    hr{
        display: none;
    }

    /* Home page */
    #profile_container_description {
        display: none;
    }
    #profile_container_image {
        width: 20%;
    }
    #profile_picture_center {
        margin: 5px;
    }
    #search_bar_box {
        width: 60%;
        padding-left: 0;
    }
    #search_bar_input {
        width: 90%;
        margin-left: 5%;
    }
    #home_page_logo{
        width: 20%;
        padding: 0px 10px;
    }
  }
