/* For all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Build-in tags ****/

a { /* Hyperlinks will have inherited color and no decoration */
    color: inherit; 
    text-decoration: none;
} 

input[type=text], input[type=password] { /* Full-width inputs */
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
  }

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
button { /* Set a style for all buttons */
    padding: 14px 20px;

    color: white;
    border: none;
    cursor: pointer;
  }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

/**** ID ****/
/* ------- Main page & registration page ------- */
#main_page_header { /* Header */
    height: 100px;
    width: 100%;
}

#main_page_logo {
    height: 100%;    
        
    float: left;
    padding: 0px 50px;  
}

#main_page_logo_picture {
    margin-top: 5px;
    width: 90px;
}

#main_page_logo_name {
    height: 100px;
    line-height: 100px;
    float: right;

    font-size: xx-large;
}

#main_page_login_form { /* Login form */
    line-height: 100px;

    float: right; 
    margin-right: 30px;   
}

#main_page_signup { /* Sign up */
    height: 45px;   
    line-height: 45px; 
    
    margin-top: 28px;
    margin-right: 50px;
        
    float: right;
    padding: 0px 20px;  
}

#main_page_background { /* Main page background */
    height: 100%;
    width: 100%;    
    
    background-image: url('pictures/main_page_background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;

    font-family: 'Courier New', Courier, monospace;
    
    position: relative;    /* Can adjust top,left,right,bottom  - mayb fixed? */
}

#main_page_visitor {
    padding: 5px;

    text-shadow: none;
    border: 2px solid white;    
}

#registration_form {
    height: 100%;
    width: 50%;

    margin-left: 25%;
    padding: 20px;

    background-color: white;
}

#register_button {
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

/* ------- Home page ------- */

#left_panel {
    height: 80px;
    width: 30%;

    float: left;
    background-color: indigo;
}

#home_page_profile_container {
    height: 80px;
    width: 100%;
}

#profile_container_image {
    height: 100%;
    width: 30%;

    float: left;
}

#profile_container_description {
    height: 100%;
    width: 70%;

    float: left;
    padding: 15px 0px;
}

#right_panel {
    height: 80px;
    width: 70%;

    float: left;
}

#home_page_search {
    height: 100%;
    width: 50%;

    float: left;
    padding-top: 25px;
}

#search_bar_form {
    height: 30px;

    float: left;
    margin-left: 34%;
}

#search_bar_input {
    height: 30px;

    float: left;
}

#search_bar_icon {
    max-height: 30px;

    float: left;
    margin-left: 5px;
}

#home_page_logo {
    height: 100%;
    width: 50%;    
        
    float: left;
    padding: 0px 50px;  
}

#home_page_logo_picture {
    width: 70px;

    margin-top: 5px;
    float: right;
}

#home_page_logo_name {
    height: 80px;
    line-height: 80px;

    float: right;
    font-size: 1.9em;
}



/*** Hover ***/
#main_page_visitor:hover { /* On hover - Continue as a visitor */
    color: rgba(0, 0, 0, 1);  
    border: 2px solid transparent;
    background-color: white;      
}

/**** Classes ****/

.scroll_box {
    overflow: auto;
}

.center {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.text_shadow_white {
    text-shadow: white 1px 1px 3px;
}

.text_size_xxl {
    font-size: xx-large;
}

.text_center {
    text-align: center;
}

.text_underline {
    text-decoration: underline;
}

.text_white {
    color: white;
  }
.text_orange {
    color: #f75f00c5;
  }

.background_color_dark {
    background-color: #1f1e1c;
}
.background_color_light {
    background: #f1f1f1;
}
.background_color_green {
    background-color: #4CAF50;
}
.background_color_orange {
    background-color: #f75f00c5;
}
.background_color_dark_grey {
    background-color: #272121;
}
.background_color_grey {
    background-color: #363333;
}
.background_color_light_grey {
    background-color: #f6e9e9;
}

.input_box {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
  }

.profile_picture_center {
    max-width: 40%;

    margin-top: 5%;
    margin-left:25%;
}


 /* Responsive - adjusting with smaller screens */


  /* Max-width 1100px */
@media screen and (max-width: 1100px) {
    /* Home page */
    #search_bar_form {
        margin-left: 10%;
    }
}

 /* max-width 800px */
@media screen and (max-width: 800px) {
    /* Main page and registration page */
    #main_page_header {
        height: 200px;
    }
    #main_page_background {
        font-size: large;
    }
    #main_page_login_form, #main_page_signup, .main_page_resize {
        float: left;
        height: 50px;
        line-height: 50px;
        width: 100%;       
        
        text-align: center; 

        margin:-1px 0 0 -1px;   /* No border collapse */
        padding: 0px;
        display: block;
    }
    #main_page_logo {
        display: none;
    }
    #registration_form {
        margin: 0;
        width: 100%;
        background-image: url('pictures/main_page_background.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: white;
    }
    hr{
        display: none;
    }

    /* Home page */
    #home_page_logo_name {
        width: 0%;
        visibility: hidden;
    }    
    #profile_container_description {
        width: 0%;
        visibility: hidden;
    }
    #profile_container_image {
        width: 100%;
    }
    .profile_picture_center {
        height: 80%;
    }
    #home_page_logo_picture {
        margin: 0%;
    }
    #home_page_search {
        width: 80%;
    }
    #search_bar_form {
        margin: 0;
    }
    #home_page_logo {
        width: 20%;
        padding: 0;
    }


  }
