/* For all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

body {
    height: auto;
    background-color: #f2f1ec;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 300px;
}

.middle {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.test {
    font-size: 10px;
}
