<!-- TODO pridat settings a members button -->
<!-- TODO nacitat nove prispevky -->
<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- HEADER - profile + search + logo -->
    <header>
        <!-- PROFILE -->
        <div id="home_page_profile">
            <a href="{{ url_for('profile', username=username) }}">
                <div id="profile_container_image">
                    <img src="{{'/' + user.Login + '/profile_image' }}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_description">
                    <h2>{{ user.Login }}</h2>
                    {% if admin %}
                    <p>Admin</p>
                    {% elseif owner %} 
                    <p>Ownder</p>
                    {% elseif moderator %}
                    <p>Moderator</p> 
                    {% elseif member %} 
                    <p>Member</p>
                    {% elseif user %} 
                    <p>User</p>
                    {% else %} 
                    <p>Visitor</p>
                    {% endif %}                    
                </div>
            </a>
        </div>

        <!-- SEARCH -->
        <div id="search_bar_box">
            <!-- TODO searchbar -->
            <form action="{{ url_for('') }}" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <img src="{{url_for('static', filename='pictures/search_bar2.png')}}" alt="Search bar" id="search_bar_icon"/>
            </form>
        </div>

        <!-- LOGOUT -->
        <button formaction="/logout/">Logout</button>
    </header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
        <!-- LEFT PANEL -->
        <div id="left_panel">
            <!-- CREATE NEW GROUP-->
            <input type="button" value="Create New Group" id="create_new_group" onclick="create_new_group_show()">

            <!-- GROUPS -->
            {% for group in groups %}
            <a href="{{ url_for('see_threads', groupname=group.name) }}">
                <div class="group_container">
                    <div class="left_panel_group_picture_container">
                        <img src="{{ url_for('group_image') }}" alt="Group icon" class="left_panel_group_picture">
                    </div>
                    <div class="left_panel_group_text">
                        <h3 class="left_panel_group_title">{{ group.name }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
        <!-- RIGHT PANEL-->
        <div class="right_panel">
            <!-- CREATING NEW GROUP -->
            <div id="creating_new_group">
                <form action="{{ url_for('create_group') }}" method="POST">
                    <h2>Create new group</h2>
                    <label for="group_name"><b>Group name</b></label>
                    <input name="group_name" type="text" placeholder="Enter group name" id="group_name" class="input_box" required>

                    <label for="description"><b>Description</b></label>
                    <input name="description" type="text" placeholder="Enter description" id="description" class="input_box" required>

                    <label for="group_image"><b>Group picture</b></label>
                    <input name="group_image" type="file" placeholder="Group pricture" required="" capture><br><br>

                    <label for="group_privacy"><b>Visibility for:</b></label><br>
                    <input id="visibility1" type="radio" name="visibility" value="30">
                    <label for="visibility1">All users</label><br>
                    <input id="visibility2" type="radio" name="visibility" value="60">
                    <label for="visibility2">Registered users</label><br>
                    <input id="visibility3" type="radio" name="visibility" value="100">
                    <label for="visibility3">Members of this group</label><br>

                    <br>
                    <button type="submit" id="create_group_button">Create group</button>
                    <button type="button" onclick="create_new_group_hide()">Hide</button>
                </form>
            </div>
            <!-- CREATING NEW THREAD -->
            <div id="creating_new_thread">
                <form action="{{ url_for('create_thread', groupname=groupname)}}" method="POST">
                    <h2>Create new thread</h2>
                    <br>

                    <label for="thread_subject"><b>Subject</b></label>
                    <input id="thread_subject" type="text" placeholder="Enter subject" name="thread_subject" class="input_box" required>

                    <br>
                    <button type="submit" id="create_thread_button">Create thread</button>
                    <button type="button" onclick="create_new_thread_hide()">Hide</button>
                </form>
            </div>

            <!-- GROUP HEADER -->
            <div class="group_header">
                <h2>{{ groupname }}</h2>
                <img src="group_src" alt="Group Image">
                <h3>Owner: {{ groupowner }}</h3>
                <p>{{ groupdescription }}</p>

                <!-- JOIN GROUP -->
                {% if user or visitor %}
                <a href="/joingroup/">
                    <input type="button" value="Join group" class="join_group" />
                </a>
                {% endif %}

                <!-- LEAVE GROUP -->
                {% if moderator or member %}
                <a href="/leavegroup/">
                    <input type="button" value="Leave group" class="leave_group" />
                </a>
                {% endif %}

                <!-- REQUEST MOD -->
                {% if member %}
                <a href="/request_mod/">
                    <input type="button" value="Request mod" class="join_group" />
                </a>
                {% endif %}

                <!-- SEE MEMBERS -->
                {% if admin or owner or moderator or member %}
                <a href="/see_members/">
                    <input type="button" value="Members" class="join_group" />
                </a>
                {% endif %}

                <!-- SETTINGS -->
                {% if admin or owner %}
                <a href="/group_settings/">
                    <input type="button" value="Settings" class="join_group" />
                </a>
                {% endif %}

                <!-- NOTIFICATIONS -->
                {% if admin or owner or moderator %}
                <a href="{{ 'notifications/group/' + 'groupname' }}">
                    <div class="notifications"></div>
                </a>
                {% endif %}

            </div>

            <!-- GROUP THREADS -->
            <div id="group_threads">

                <!-- CREATE NEW THREAD -->
                {% if admin or owner or moderator or member %}
                <input type="button" value="Create New Thread" onclick="create_new_thread_show()" id="create_new_thread_button" class="create_new_thread">
                {% endif %}              

                {% for thread in threads %}
                <a href="{{ url_for('see_posts', groupname=groupname, threadsubject=thread.subject) }}">
                    <div class="thread_container">
                        <h3>{{ thread.Subject }}</h3>
                        <p>{{ thread.Description}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </article>
</body>


<!-- JavaScript -->
<script>
    /* Showing and closing windows on click - create new group and thread */
    function create_new_group_show(){
        document.getElementById("creating_new_group").style.display= 'block';
    }
    function create_new_group_hide(){
        document.getElementById("creating_new_group").style.display= 'none';
    }
    function create_new_thread_show(){
        document.getElementById("create_new_thread_button").style.display = 'none';
        document.getElementById("creating_new_thread").style.display = 'block';
    }
    function create_new_thread_hide(){
        document.getElementById("create_new_thread_button").style.display = 'block';
        document.getElementById("creating_new_thread").style.display = 'none';
    }    
</script>
</html>
</doctype>

