<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- HEADER - profile + search + logo -->
    <header>
        <!-- PROFILE -->
        <div id="profile_container">
            <a href="{{ url_for('profile', name=username) }}">
                <div id="profile_container_image">
                    <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_description">
                    <h2>{{ username }}</h2>
                    {% if admin %}
                    <p>Admin</p>
                    {% elif owner %} 
                    <p>Ownder</p>
                    {% elif moderator %}
                    <p>Moderator</p> 
                    {% elif member %} 
                    <p>Member</p>
                    {% elif user %} 
                    <p>User</p>
                    {% else %} 
                    <p>Visitor</p>
                    {% endif %}                    
                </div>
            </a>
        </div>

        <!-- SEARCH -->
        <div id="search_bar_box">
            <!-- TODO searchbar -->
            <form action="{{ url_for('') }}" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <img src="{{url_for('static', filename='pictures/search_bar2.png')}}" alt="Search bar" id="search_bar_icon"/>
            </form>
        </div>

        <!-- LOGOUT -->
        <div class="logout_container">            
            <a href="{{ url_for('logout') }}">
                <button>Logout</button>
            </a>
        </div>
    </header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
        <!-- LEFT PANEL -->
        <div id="left_panel">
            <!-- GROUPS -->
            {% for group in groups %}
            <!-- TODO kliknutie na skupinu, zobrazi sa skupina -->
            <a href="{{ url_for('see_threads', group=group.Name, name=username) }}">
                <div class="group_container">
                    <div class="left_panel_group_picture_container">
                        <!-- TODO url fotky skupiny -->
                        <img src="{{ group.img_src }}" alt="Group icon" class="left_panel_group_picture">
                    </div>
                    <div class="left_panel_group_text">
                        <h3 class="left_panel_group_title">{{ group.Name }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- RIGHT PANEL-->
        <div class="right_panel">
            <!-- The Modal for Members -->
            <div class="modal">
                <!-- Modal content for Members-->
                <div class="modal-content">
                    <span class="close close_members">&times;</span>
                    <h2 class="members_title">Members</h2>
                    <table class="table_members">
                        <tr>
                            <th>Picture</th>
                            <th>Login</th>
                            <th></th>
                        </tr>
                        {% for member in members %}
                        <tr>
                            <td><img src="{{ member.img_src }}" alt="Profile picture" class="members_picture"></td>
                            <td><a href="{{ url_for('') }}">{{ member.username }}</a></td>
                            {% if admin or owner or moderator %}
                            <td><button>Remove</button></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>          
        </div>
    </article>
</body>
</html>
</doctype>
