<!-- TODO tlacidlo odstranit skupinu -->
<!-- Moderator iba vyamze clenov skupiny a odstrani prispevky -->
<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
    <title>Free chat</title>
</head>
<body class="background_color_light_grey">
<!-- HEADER - profile + search + logo -->
<header>
    <!-- PROFILE -->
    <!-- If user is logged in -->
    {% if not visitor %}
        <div id="profile_container">
            <a href="{{ url_for('profile', name=username) }}">
                <div id="profile_container_image">
                    <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_description">
                    {{ user.Login }}
                    {% if admin %}
                    Admin
                    {% elif owner %}
                    Owner
                    {% elif moderator %}
                    Moderator
                    {% elif member %}
                    Member
                    {% else %}
                    User
                    {% endif %}
                </div>
            </a>
        </div>
    <!-- If he is a visitor -->
    {% else %}
        <div id="profile_container">            
            <div id="profile_container_image">
                <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
            </div>
            <div id="profile_container_description">
                Visitor
            </div>            
        </div>
    {% endif %}

    <!-- SEARCH -->
    <div id="search_bar_box">
        <!-- TODO searchbar -->
        <form action="{{ url_for('search') }}" id="search_bar_form" >
            <input type="text" placeholder="Search.." name="search" id="search_bar_input">
            <img src="{{url_for('static', filename='pictures/search.png')}}" alt="Search bar" id="search_bar_icon"/>
        </form>
    </div>

    <!-- LOGOUT or LOGIN for visitor -->
    {% if not visitor %}
    <div class="logout_container">
        <a href="{{ url_for('logout') }}">
            <button>Logout</button>
        </a>
    </div>
    {% else %}
    <div class="logout_container">
        <a href="{{ url_for('login') }}">
            <button>Login</button>
        </a>
    </div>
    {% endif %}
</header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
        <!-- LEFT PANEL -->
        <div id="left_panel">
            <!-- GROUPS -->
            <div class="lp_gn">GROUPS</div>

            <!-- OWNER -->
            {% if gowner %}
                <div class="lp_gt">Owner</div>
                {% for group in gowner %}
                <a href="{{ url_for('group', name=group[0].Name) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title">{{ group[0].Name.replace("_", " ") }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}

            <!-- MODERATOR -->
            {% if gmoderator %}
                <div class="lp_gt">Moderator</div>
                {% for group in gmoderator %}
                <a href="{{ url_for('group', name=group[0].Name) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title">{{ group[0].Name.replace("_", " ") }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}

            <!-- MEMBER -->
            {% if gmember %}
                <div class="lp_gt">Member</div>
                {% for group in gmember %}
                <a href="{{ url_for('group', name=group[0].Name) }}">
                    <div class="group_container">
                        <div class="left_panel_group_picture_container">
                            <img src="{{ group[1] }}" alt="Group icon" class="left_panel_group_picture">
                        </div>
                        <div class="left_panel_group_text">
                            <span class="left_panel_group_title">{{ group[0].Name.replace("_", " ") }}</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>

        <!-- RIGHT PANEL-->
        <div class="right_panel">
            <!-- Settings -->            
            <div class="group_rc">
                <!-- Go back-->
                <a href="#">
                    <button>
                        &#10094; Back
                    </button>
                </a>

                <br><h1 class="settings_title">Settings</h1><br><hr>
                <!-- TODO group settings -->
                <form action="#" method="POST">
                    <hr>
                    <label for="group_name"><b>Group name</b></label>
                    <input name="group_name" type="text" placeholder="Enter group name" id="group_name"
                    {% if form  %} value="{{ form['groupname'] }}"{% endif %} pattern="^([\x00-\x7F])\S+$"
                    title="ASCII characters only, no white spaces"
                    class="input_box">

                    <label for="description"><b>Description</b></label>
                    <input name="description" type="text" placeholder="Enter description" id="description" class="input_box">
                    
                    <label for="group_picture"><b>Group picture</b></label>
                    <input name="profile_photo" type="file" id="img_file" placeholder="Group pricture" capture>
                    <br><br>

                    <label for="group_privacy"><b>Visibility for:</b></label><br>
                    <input name="visibility" type="radio" id="visibility1" checked value="30">
                    <label for="visibility1">All users</label><br>
                    <input name="visibility" type="radio" id="visibility2" value="60">
                    <label for="visibility2">Registered users</label><br>
                    <input name="visibility" type="radio" id="visibility3" value="100">
                    <label for="visibility3">Members of this group</label><br>

                    <button formaction="/delete_group/">Delete group</button>
                    <button type="submit" class="background_color_green">Save changes</button>
                </form>
            </div>
        </div>
    </article>
</body>
</html>
</doctype>
