<!-- TODO footer s cookies pouzivanim -->
<!-- TODO hlasenie ak je zle meno alebo heslo pri prihlaseni -->
<doctype! html>
<html>
<head>
    <meta charset = "utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.ico') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- HEADER -->
    <div id="main_page_header" class="background_color_dark box_shadow">
        <!-- SIGN UP -->
        <div id="main_page_signup" class="text_orange">
            <a href="{{ url_for('register')}}">Sign up</a>
        </div>
        <!-- LOGIN -->
        <form action="{{ url_for('login') }}" method="POST" autocomplete="on" id="main_page_login_form">
            <div class="container">
                <input name="uname" type="text" placeholder="Username" class="main_page_resize" {% if form  %} value="{{ form['uname'] }}"{% endif %} required>
                <input name="psw" type="password" placeholder="Password" class="main_page_resize" required>
                <button type="submit" class="main_page_resize background_color_orange">Login</button>
            </div>
        </form>
        <!-- LOGO -->
        <div id="main_page_logo" class="text_orange">
            <a href="{{ url_for('welcome')}}">
                <img src="{{url_for('static', filename='pictures/logo.png')}}" alt="Logo Free Chat" id="main_page_logo_picture">
                <div id="main_page_logo_name"><h3>Free chat</h1></div>
            </a>
        </div>
    </div>

    <!-- BODY -->
    <div id="main_page_background" class="text_white text_size_xxl text_center">
        <span class="center">
            <h1 class="text_shadow_white">Free chat</h1>
            <div id="main_page_visitor"><a href="{{ url_for('guest')}}">Continue as a visitor</a></div>
        </span>
    </div>
</body>
</html>
</doctype>
