<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.ico') }}"/>
    <title>Free chat</title>
</head>
<body class="background_color_light_grey">
    <!-- HEADER - profile + search + logo -->
    <header>
        <!-- PROFILE -->
        <div id="home_page_profile" class="background_color_dark_grey">
            <!-- TODO prejst z home page na profil -->
            <a href="{{ url_for('profile') }}">
                <div id="profile_container_image">
                    <!-- TODO url fotky profilu -->
                    <img src="{{url_for('static', filename='pictures/profile_picture2.jpg')}}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_description" class="text_orange">
                    <h2>{{ username }}</h2>
                    <p>{{ rights }}</p>
                </div>
            </a>
            <!-- Notifications dropdown menu -->
            <!-- TODO -->
            <a href="">
                <div class="dropdown">
                    <button onclick="dropdownFunction()" class="dropbtn dropbtn_notifications"></button>
                </div>
            </a>
        </div>

        <!-- SEARCH -->
        <div id="search_bar_box" class="background_color_dark_grey">
            <!-- TODO searchbar -->
            <form action="{{ url_for('') }}" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <img src="{{url_for('static', filename='pictures/search_bar2.png')}}" alt="Search bar" id="search_bar_icon"/>
            </form>
        </div>
    </header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
        <!-- LEFT PANEL -->
        <div id="left_panel">
            <!-- GROUPS -->
            {% for group in groups %}
            <!-- TODO kliknutie na skupinu, zobrazi sa skupina -->
            <a href="{{ url_for('see_threads') + ?group_name=group.name + ?username=username }}">
                <div class="group_container background_color_dark_grey text_white">
                    <div class="left_panel_group_picture_container">
                        <!-- TODO url fotky skupiny -->
                        <img src="{{ url_for('static', filename='pictures/profile_picture.jpeg') }}" alt="Group icon" class="left_panel_group_picture">
                    </div>
                    <div class="left_panel_group_text">
                        <h3 class="left_panel_group_title">{{ group.name }}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- RIGHT PANEL-->
        <div class="right_panel">
            <!-- TODO pridat url na profil a skupinu -->
            {% for notfication in mem_notifications %}
                <div>User <a href="{{ url_for('') }}"><b>{{ notification.username }}</b></a> wants to join your group <a href="{{ url_for('') }}"><b>{{ notification.group_name }}</b></a>
                    <br><br><button class="background_color_green">Accept</button> <button class="background_color_green">Reject</button>
                </div>
            {% endfor %}
            {% for notification in mod_notifications %}
                <div>User <a href="{{ url_for('') }}"><b>{{ notification.username }}</b></a> wants to become a moderator in your group <a href="{{ url_for('') }}"><b>{{ notificaton.group_name }}</b></a>
                    <br><br><button class="background_color_green">Accept</button> <button class="background_color_green">Reject</button>
                </div>
            {% endfor %}
        </div>
    </article>
</body>
</html>
</doctype>