<!-- TODO pridat button pre odstranenie uzivatela z db pre admina a vymazanie uctu ownera -->
<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.ico') }}"/>
    <title>Free chat</title>
</head>

<!-- BODY -->
<body>
    <!-- HEADER - search + home -->
    <header>
        <!-- GO HOME -->
        <div class="go_home_boy">
            <!-- TODO go home -->
            <a href="home_page.html"><h2>Home</h2></a>
        </div>
        <!-- SEARCH -->
        <div class="search_bar_box_profile">
            <!-- TODO search -->
            <form action="/action_page.php" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <!--<button type="submit"><i class="fa fa-search"></i></button> -->
                <img src="{{url_for('static', filename='pictures/search_bar2.png')}}" alt="Search bar" id="search_bar_icon"/>
            </form>
        </div>
    </header>

    <!-- PROFILE -->
    <div id="profile">
        <!-- PROFILE PICTURE CONTAINTER -->
        <div class="picture_container">
            <img src="{{ '/' + user.Login + '/profile_image' }}" alt="Profile picture" class="profile_picture">
        </div>

        <!-- PROFILE INFO CONTAINER -->
        <div id="info_container">
            <h1> {{ user.Login }}</h1><br>
            <p>{{ user.description }}</p>
            <br><b>Groups:</b><br>
            <ol>
                {% for groupname in groups %}
                <li>{{ groupname }}</li>
                {% endfor %}
            </ol>
            <br><button type="button" onclick="show_settings()">Settings</button>
        </div>
    </div>

    <!-- PROFILE SETTINGS -->
    <div id="settings_container">
        <form action="{{ url_for('profile_settings') }}" method="POST">
            <h1>Settings</h2><br>

            <label for="login"><b>Change Login</b></label>
            <input name="login" type="text" placeholder="Enter Login" class="input_box">

            <label for="password1"><b>Change Password</b></label>
            <input name="password1" type="text" placeholder="Enter Password" autocomplete="new-password" class="input_box">

            <label for="password2"><b>Repeat Password</b></label>
            <input name="password2" type="text" placeholder="Repeat Password" class="input_box">

            <br>
            <label for="group_privacy"><b>Visibility for:</b></label><br>
            <input name="visibility" type="radio" id="visibility1" value="30">
            <label for="visibility1">All users</label><br>
            <input name="visibility" type="radio" id="visibility2" value="60">
            <label for="visibility2">Registered users</label><br>
            <input name="visibility" type="radio" id="visibility3" value="100">
            <label for="visibility3">Members of your groups</label><br><br>

            <label for="group_picture"><b>Profile picture</b></label>
            <input name="profile_photo" type="image" placeholder="Profile pricture" required="" capture><br><br>

            <label for="current_password"><b>Enter current password</b></label>
            <input name="current_password" type="text" placeholder="Enter current password" class="input_box" required>

            <button type="submit">Save changes</button> <button type="button" onclick="show_profile_info()">Go Back</button>
        </form>
    </div>
</body>

<!-- JavaScript -->
<script>
    function show_settings(){
        document.getElementById("settings_container").style.display= 'block';
        document.getElementById("profile").style.display= 'none';
    }
    function show_profile_info(){
        document.getElementById("settings_container").style.display= 'none';
        document.getElementById("profile").style.display= 'block';
    }

</script>
</html>
</doctype>
