<!-- TODO pridat upozornenie ak je zabrane meno pri registracii + prihlasenie zle meno/heslo -->
<doctype! html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.png') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- HEADER -->
    <div id="main_page_header">
        <!-- LOGIN -->
        <form action="{{ url_for('login') }}" method="POST" autocomplete="on" id="login_form">
            <div class="container">
                <input name="uname" type="text" placeholder="Username" autocomplete="nickname" required>
                <input name="psw" type="password" placeholder="Password" minlength="7" autocomplete="current-password" required>
                <button type="submit">Login</button>
            </div>
        </form>
        <!-- LOGO -->
        <div id="main_page_logo">
            <a href="{{ url_for('welcome')}}">
                <img src="{{url_for('static', filename='pictures/logo.png')}}" alt="Logo Free Chat" id="main_page_logo_picture">
                <div id="main_page_logo_name"><h3>Free chat</h3></div>
            </a>
        </div>
    </div>

    <!-- REGISTRATION -->
    <div id="reg_page_background">
        <form action="{{ url_for('register') }}" method="POST" autocomplete="on" id="registration_form">
            <h1 class="text_center">Register</h1>
            <hr>

            <label for="login"><b>Login</b></label>
            <input name="login" type="text" placeholder="Enter Login" class="input_box" {% if form  %} value="{{ form['login'] }}"{% endif %} required>


            <!-- FLASH WAY ale posielam aj error tak nepotrebne vymaz -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <label for="psw"><b>Password, at least 7 characters</b></label>
            <input name="psw" type="password" placeholder="Enter Password" minlength="7" autocomplete="new-password" class="input_box" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input name="psw-repeat" type="password" placeholder="Repeat Password" minlength="7" autocomplete="new-password" class="input_box" required>
            <hr>

            <p>By creating an account you agree to our <a href="#" id="myBtn" class="text_underline">Terms & Privacy</a>.</p>
            <button type="submit" id="register_button">Register</button>
        </form>
    </div>

    <!-- The Modal for Terms & Privacy -->
    <div id="myModal" class="modal">
        <!-- Modal content for Terms & Privacy-->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Terms & Privacy</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis viverra diam non justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Aliquam ante. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Nullam at arcu a est sollicitudin euismod. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Quisque tincidunt scelerisque libero. Pellentesque pretium lectus id turpis. Nullam at arcu a est sollicitudin euismod. Curabitur vitae diam non enim vestibulum interdum. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
    </div>
</body>

<script>
    /* Terms & Privacy  - Inspired by W3Schools https://www.w3schools.com/howto/howto_css_modals.asp */
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.addEventListener('click',function(event){
      if (event.target == modal) {
        modal.style.display = "none";
      }
    });
</script>

</html>
</doctype>
