<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.ico') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- FLASH WAY -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <!-- The Modal for Settings -->
        <div id="myFlashModal" class="flash_modal">
           <!-- Modal content for Settings-->
           <div class="flash_modal_content">
               <span class="close flash_close">&times;</span>
               <ul class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </ul>
           </div>
        </div>
    {% endif %}
    {% endwith %}
    
    <!-- JavaScript -->
    <script>
        // Get the modal
    var modal = document.getElementById("myFlashModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>

    <!-- HEADER - profile + search + logo -->
    <header>
        <!-- PROFILE -->
        <!-- If user is logged in -->
        {% if not visitor %}
            <div id="profile_container">
                <a href="{{ url_for('profile', user_id=user_id) }}">
                    <div id="profile_container_image">
                        <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                    </div>
                    <div id="profile_container_description">
                        {{ username }} <br>
                        {% if admin %}
                        Admin
                        {% elif owner %}
                        Owner
                        {% elif moderator %}
                        Moderator
                        {% elif member %}
                        Member
                        {% else %}
                        User
                        {% endif %}
                    </div>
                </a>
            </div>
        <!-- If he is a visitor -->
        {% else %}
            <div id="profile_container">
                <div id="profile_container_image">
                    <img src="{{ img_src }}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_visitor">
                    <span class="visitor_title">Visitor</span>
                </div>
            </div>
        {% endif %}

        <!-- SEARCH -->
        <div id="search_bar_box">
            <!-- TODO searchbar -->
            <form action="{{ url_for('search') }}" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <a href="#">
                    <div class="search_icon"></div>
                </a>
            </form>
        </div>

        <!-- LOGOUT or LOGIN for visitor -->
        {% if not visitor %}
        <div class="logout_container">
            <a href="{{ url_for('logout') }}">
                <button>Logout</button>
            </a>
        </div>
        {% else %}
        <div class="logout_container">
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
        </div>
        {% endif %}
    </header>

    <!-- ARTICLE -->
    <article>
        <!-- THREAD HREADER -->
        <div class="thread_header">
            <h1>Subject</h1>
            <h2>Description</h2>
        </div>
        <!-- POSTS -->
        <div id="thread_posts">
            {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <!-- Post header -->
                    <div class="post_header">
                        <a href="{{ url_for('profile', user_id=post.User_ID) }}">
                            <h3>{{ post.User_ID }} {{post.Date_time}}</h3> <!-- for now just user_id-->
                        </a>
                    </div>
                    <!-- Post text -->
                    <div class="post_text">                        
                        <p>{{ post.Content }}</p>
                    </div>
                    <!-- Remove button -->
                    {% if admin or owner or moderator or post.Mypost %}
                    <a href="{{ url_for('delete_message', group_id=group_id, thread_id=thread_id, message_id=post.ID) }}">
                        <button>Delete post</button>
                    </a>                    
                    {% endif %}
                    <!-- Post Ranking -->
                    <div class="post_ranking">
                        <p>{{ post.Rank }}
                        <!-- TODO tlacidla na increment decrement -->
                         {% if (admin or owner or moderator or member) or (user and private) or (not private and not closed)  %}
                             <a href="{#  {{ url_for('increment', postid=post.ID) }}#}">
                                <span class="inc_trans">&#10095;</span>
                            </a>
                            <a href="{# {{ url_for('decrement', postid=post.ID) }}#}">
                                <span class="dec_trans">&#10095;</span>
                            </a>
                        {% endif %}
                        </p>
                    </div>
                    <!-- hr -->
                    <hr class="hr_for_posts">
                </div>
            {% endfor %}
            {% endif %}
            
            <!-- TODO vytvorit pridanie postu -->
            <form action="{{ url_for('create_message',group_id=group_id, thread_id=thread_id)}}" method="POST">
                <input name="content" id="content" type="text" >
                <!--<input type="button" value="Post">-->
                <button type="submit" value="Post">Post</button>
            </form>
        </div>
    </article>
</body>
</html>
</doctype>

