<!doctype html>
<html>
<head>
    <meta charset = "utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='pictures/logo.ico') }}"/>
    <title>Free chat</title>
</head>
<body>
    <!-- HEADER - profile + search + logo -->
    <header>
        <!-- PROFILE -->
        <div id="home_page_profile">
            <a href="{{ url_for('profile', username=username) }}">
                <div id="profile_container_image">
                    <img src="{{url_for('profile_image')}}" alt="Profile picture" id="profile_picture_center"/>
                </div>
                <div id="profile_container_description" class="text_orange">
                    <h2>{{ username }}</h2>
                    <p>{{ rights }}</p>
                </div>
            </a>
        </div>

        <!-- SEARCH -->
        <div id="search_bar_box">
            <!-- TODO -->
            <form action="{{ url_for('') }}" id="search_bar_form" >
                <input type="text" placeholder="Search.." name="search" id="search_bar_input">
                <img src="{{url_for('static', filename='pictures/search_bar2.png')}}" alt="Search bar" id="search_bar_icon"/>
            </form>
        </div>

        <!-- LOGOUT -->
        <button formaction="/logout/">Logout</button>
    </header>

    <!-- ARTICLE - left panel[create new group, groups] + right panel [creating new group, creating new thread, threads] -->
    <article>
            <!-- POSTS -->
            <div id="thread_posts">
                {% for post in posts %}
                <div class="post">
                    <div class="post_text">
                        <a href="{{ url_for('profile', username=post.username) }}">
                            <h4>{{ post.username }}</h4>
                        </a><br>
                        <p>{{ post.content }}</p>
                    </div>
                    {% if mod %}
                    <button formaction="{{url_for('remove_post')}}">Remove post</button>
                    {% endif %}
                    <div class="ranking">
                        <p>{{ post.rank }} 
                            <!-- TODO tlacidla na increment decrement -->
                        {% if is_logged %}
                            <a href="{{ url_for('increment', postid=post.ID) }}">
                                <b>increment</b>
                            </a>
                            <a href="{{ url_for('decrement', postid=post.ID) }}">
                                <b>decrement</b>
                            </a>                         
                        {% endif %}
                        </p>
                    </div>
                    <hr class="hr_for_posts">
                </div>
                {% endfor %}

                <!-- TODO vytvorit pridanie postu -->
                <form action="{{ url_for('send_message'), threadname=threadname}}" method="POST">
                    <input type="text">
                    <input type="button" value="Post">
                </form>
            </div>
    </article>
</body>
</html>
</doctype>

